.content {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 150px auto;
}
input {
  border: none;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 14px;
}
.lastChild {
  margin-bottom: 40px;
}
button {
  width: 200px;
  margin: 30px auto;
  padding: 14px;
  border: none;
  background-color: blueviolet;
  color: white;
  font-size: 21px;
  font-weight: 700;
  border-radius: 20px;
}
button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px goldenrod;
}

.correct {
  color: black;

  font-weight: bold;
  margin-bottom: 20px;

  padding: 20px;
}
.wrong {
  color: red;
  font-weight: bold;
}
